body {
    font-family: Arial, sans-serif; /* Define a fonte principal da página */
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1; /* Define a sobreposição */
    left: 0;
    top: 0;
    width: 100%; /* O modal ocupa toda a largura da tela */
    height: 100%; /* O modal ocupa toda a altura da tela */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semitransparente */
}

.modal-content {
    background-color: #fff; /* Fundo branco do conteúdo do modal */
    margin: 10% auto; /* Centraliza o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Define uma largura fixa */
    border-radius: 8px; /* Arredonda os cantos */
    text-align: center;
}

h2 {
    background-color: rgba(0, 68, 255, 0.616); /* Cor de fundo do título */
    color: #000;
    padding: 10px;
    margin: -20px -20px 20px -20px; /* Remove margens extras */
    border-radius: 8% 8px 0 0; /* Arredonda apenas os cantos superiores */
}

.form-row {
    display: flex; /* Usa o Flexbox para alinhar os elementos lado a lado */
    justify-content: space-between; /* Distribui espaço uniformemente entre os grupos */
    flex-wrap: wrap; /* Permite que os grupos quebrem a linha em telas menores */
}

.radio-group {
    flex: 1; /* Cada grupo ocupa espaço igual */
    margin-right: 10px; /* Espaço à direita entre os grupos */
}

.radio-group h4 {
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    text-align: left;
}

.radio-group label {
    display: block; /* Exibe cada rótulo como um bloco para melhor formatação */
text-align: left;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #002fffa9;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}

button#sair {
    background-color: #ff000071; /* Botão de sair com cor vermelha */
}

button#sair:hover {
    background-color: #ff0800; /* Altera a cor do botão de sair ao passar o mouse */
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}
