body {
    font-family: Arial, sans-serif;
    background-color: #ffffff00;
    margin: 50;
    padding: 60px;
}

h2 {
    text-align: center;
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(40, 40, 41);
}

th,
td {
    padding: 1px;
    text-align: center;
    border: 1px solid #0a0a0a;
}

th {
    background-color: #50b953;
    color: white;
}

td {
    background-color: #f8f8f8;
}

/* Cores sólidas para as linhas */
.f1 {
    background-color: #edfd06; /* Cor sólida sem transparência */
}

.f2 {
    background-color: #08f700; /* Cor sólida sem transparência */
}

.f3 {
    background-color: #115de9; /* Cor sólida sem transparência */
}

.f4 {
    background-color: #ff05ff; /* Cor sólida sem transparência */
}

.f5 {
    background-color: #ff0000; /* Cor sólida sem transparência */
}

.soma {
    background-color: rgb(3, 255, 179);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.highlight {
    background-color: #4be5eb;
    font-weight: bold;
}
